<!DOCTYPE html>
<html>
<head>
	<title>Different Identities</title>
</head>
<body>
	<h1>The Secret Identity Machine</h1>
	

</body>



<p>Enter how many profiles you would like to create: </p>
    <form method="post">
    	
        <input name="numPersons" id="numPersons" />

		<p>If you would like a universal password, enter it here (if you do not, random ones will be generated): </p>

        <input name="passArg" id="passArg"  />

        <p><input type="submit" value="Enter" ></p>
    </form>
    </script>
</html>