<!DOCTYPE html>
<html>
<head>
	<title>Different Identities</title>
	<link href="style.css" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Ubuntu Mono" rel="stylesheet">
</head>
<body>

	<h1>The Secret Identity Machine</h1>	

<div>
<p>Enter how many profiles you would like to create: </p>
    <form method="post">
    	
        <input name="numPersons" id="numPersons" />
	</form>
	
	</div>
	
	<div>
		<p>If you would like a universal password, enter it here (if you do not, random ones will be generated): </p>
		
		<form method="post">
        
		<input name="passArg" id="passArg"  />
	
	</div>

        <p><input type="submit" value="Enter" ></p>
    </form>
    </script>
</html>